@font-face {
  font-family: Medium;
  src: url(font/TTLakes-Medium.woff);
}
@font-face {
  font-family: bold;
  src: url(font/TTLakes-Bold.woff);
}

body {
  margin: 0;
}

.container {
  margin: 0;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.header__list {
  list-style: none;
  display: flex;
  height: 88px;
  margin: 0;
  padding-left: 16px;
  align-items: center;
  column-gap: 16px;
}

.header__servise {
  position: relative;
  margin-left: 20px;
}

.header__servise::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
  top: 4px;
  left: -20px;
}

.logo {
  width: 95.55px;
  height: 50.81px;
}
.main {
  width: 100%;
  background-color: #f8f8f8;
}
h1 {
  margin: 0;
  padding-top: 24px;
  margin-bottom: 24px;
  padding-left: 16px;
  font-family: bold;
  font-size: 28px;
}
.nav__list {
  list-style: none;
  display: flex;
  overflow: scroll;
  padding: 0;
  margin: 0;
  height: 42px;
  column-gap: 3px;
  margin-bottom: 24px;
  padding-left: 16px;
}
.nav__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.nav__item {
  white-space: nowrap;
}
.nav__link {
  text-decoration: none;
  display: block;
  font-family: Medium;
  color: #7e7e82;
  font-size: 16px;
  padding: 8px 12px 8px 16px;
}

.nav__link:hover {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info__text {
  padding-left: 16px;
  padding-right: 16px;
  font-family: Medium;
  font-size: 14px;
  color: #1b1c21;
  line-height: 18px;
}

.info__button_hiden {
  border: none;
  background-color: #f8f8f8;
  padding-left: 48px;
  position: relative;
  margin-bottom: 20px;
}

.info__button_hiden::before {
  content: "";
  background-image: url(menu/expand.svg);
  position: absolute;
  top: -4px;
  left: 22px;
  width: 24px;
  height: 24px;
}
