@font-face {
  font-family: TTlakes;
  src: url(font/TTLakes-Medium.woff);
}

body {
  margin: 0;
  font-family: TTlakes;
}

.btn {
  display: none;
}
.main {
  position: relative;
}

.container {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f8f8f8;
  overflow: hidden;
}

.header {
  width: 100%;
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
}

.header__text {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  padding: 16px;
}

.brend-list__link {
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.go {
  width: 40px;
  height: 40px;
  padding-right: 16px;
  background-image: url(image/go.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-lenovo {
  width: 108px;
  height: 32px;
  margin-left: 16px;
  background-image: url(image/lenovo.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-samsung {
  width: 116px;
  height: 39px;
  margin-left: 16px;
  background-image: url(image/samsung.svg);
  background-repeat: no-repeat;
}
.barend-list__image-box-apple {
  width: 44px;
  height: 44px;
  margin-left: 16px;
  background-image: url(image/apple.svg);
  background-repeat: no-repeat;
}
.barend-list__image-box-sonic {
  width: 128px;
  height: 21px;
  margin-left: 16px;
  background-image: url(image/sonic.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-bosch {
  width: 128px;
  height: 28.6px;
  margin-left: 16px;
  background-image: url(image/bosch.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-hp {
  width: 52px;
  height: 52px;
  margin-left: 16px;
  background-image: url(image/hp.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-acer {
  width: 94px;
  height: 24px;
  margin-left: 16px;
  background-image: url(image/acer.svg);
  background-repeat: no-repeat;
}

.barend-list__image-box-sony {
  width: 128px;
  height: 25.6px;
  margin-left: 16px;
  background-image: url(image/sony.svg);
  background-repeat: no-repeat;
}

.main::before {
  content: "";
  width: 24px;
  height: 81px;
  position: absolute;
  top: -4px;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  z-index: 2;
}

.swiper-container {
  width: 240px;
  margin: 16px 0 0 16px;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
}

.swiper-pagination {
  position: absolute;
  top: 88px;
}

.btn {
  border: 0;
  background-color: #f8f8f8;
  font-family: TTlakes;
  font-size: 16px;
  cursor: pointer;
  margin-left: 57px;
  margin-top: 24px;
  position: relative;
}

.btn__icon {
  background-image: url(image/expand.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -29px;
  top: -2px;
}

.bth__icon_rotate {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .btn {
    display: block;
  }
  .swiper-pagination {
    display: none;
  }
  .header__text {
    padding-left: 24px;
  }

  .swiper-wrapper {
    gap: 16px 24px;
    flex-wrap: wrap;
    max-height: 164px;
    overflow: hidden;
  }
  .swiper-up {
    max-height: 344px;
  }
  .swiper-container {
    width: 100%;
    margin-left: 24px;
  }
  .swiper-slide {
    width: 224px !important;
  }
}

@media (min-width: 1120px) {
  .swiper-slide {
    width: 240px !important;
  }
  .header__text {
    padding-left: 32px;
  }
  .swiper-container {
    margin-left: 32px;
  }
}
